<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.meter">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inputManually.ManualElectricity"
            android:label="Ввести показ електроенергії" />
        <activity
            android:name=".inputManually.ManualGas"
            android:label="Ввести показ газу" />
        <activity
            android:name=".personalCab.PersonalInfoActivity"
            android:label="Особистий кабінет" />
        <activity
            android:name=".inputManually.ManualWater"
            android:label="Ввести показ води" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name=".CameraPage" />
        <activity android:name=".AlarmActivity" />
    </application>

</manifest>